@mixin table_text {
    font-family: "Pretendard";
    font-size: var(--write-normal);
    font-weight: var(--font-middle);
}

@mixin side_bar {
    float: left;
    width: calc(50% - 2px);
    text-align: center;
    padding: 15px 0;
    font-size: var(--write-normal);
    font-weight: var(--font-middle);
    cursor: pointer;
}

// 상단 메뉴
.homePage-menu {
    display: flex;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid var(--subblue-light);
    padding-left: 8px;

    li {
        float: left;
        font-size: var(--write-explane);
        padding: 0px 9px;
        border-right: 1px solid var(--subblue-light);
    }

    :hover {
        text-decoration: underline;
        cursor: pointer;
    }

    // 친구초대
    :last-child {
        border: 0px;
    }

    &__invite {
        font-weight: var(--font-bold);

        a {
            color: var(--sky);
        }
    }
}

// 사이드 네이게이션
.homePage-side {
    width: 230px;
    min-height: 100vh;
    float: left;
    padding: 20px;

    ul {
        margin-bottom: 60px;
    }

    &__head-item {
        @include side_bar;
        color: var(--subblue);
        background-color: var(--backblue);
        border: 1px solid var(--subblue-light);

        &__action {
            @include side_bar;
            border-top: 1px solid var(--subblue-light);
        }
    }

    &__item {
        padding: 15px 0;
        border-bottom: 1px solid var(--subblue-light);
        cursor: pointer;

        span {
            font-size: var(--write-normal);

            &:nth-child(2) {
                display: inline-block;
                margin-left: 5px;
                font-size: var(--write-explane);
                font-weight: var(--font-light);
                color: var(--subblue);
            }
        }

        &:hover {
            background-color: var(--backblue);
        }

        img {
            width: 15px;
            float: right;
        }
    }

    &__brand {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 0;
        cursor: pointer;

        &__wrap {
            span {
                display: inline-block;
                font-size: var(--write-normal);
            }

            :nth-child(3) {
                display: inline-block;
                font-size: var(--write-explane);
                font-weight: var(--font-light);
                color: var(--subblue);
            }

            &:hover {
                background-color: var(--backblue);
            }
        }

        img {
            width: 15px;
        }
    }

    &__bottom {
        &__call {
            padding: 15px 0;
            border-bottom: 1px solid var(--subblue-light);

            img {
                width: 20px;
                float: left;
                margin-right: 13px;
            }

            h4 {
                font-size: var(--write-normal-area);
                font-weight: var(--font-middle);
                margin-bottom: 10px;
            }

            span {
                display: inline-block;
                font-size: var(--write-explane);
                color: var(--subblue);
            }
        }

        &__text {
            padding: 10px 0;
            display: inline-block;
            font-size: var(--write-explane);
            color: var(--subblue);
            line-height: 20px;

            a {
                text-decoration: underline;
            }
        }

        &__button {
            li {
                font-size: var(--write-explane);
                font-weight: var(--font-middle);
                text-align: center;
                padding: 10px 0;
                border: 1px solid var(--subblue-light);
                cursor: pointer;

                &:hover {
                    background-color: var(--backblue);
                }
            }
        }
    }
}

.homePage-product {
    padding: 20px;
    margin-left: 270px;
    border-left: 1px solid var(--subblue-light);

    &__card {
        border: 1px solid var(--subblue-light);
        cursor: pointer;

        &__img {
            position: relative;
            height: 240px;
            width: 240px;

            img {
                position: absolute;
                top: 0;
                left: 0;
                margin: auto;
                min-height: 100%;
                min-width: 100%;
                max-height: 100%;
                max-width: 100%;
                object-fit: cover;
            }

            span {
                position: absolute;
                top: 10px;
                right: 10px;
                display: inline-block;
                padding: 7px 10px;
                font-size: var(--write-explane);
                font-weight: var(--font-light);
                color: var(--white);
                background-color: var(--orange);
            }
        }

        &__text {
            @include table_text;
            padding: 20px;
            line-height: 20px;

            del {
                color: var(--subblue);
                margin-right: 8px;
            }
        }
    }
}