@mixin sub_text {
    display: inline-block;
    margin-left: 10px;
    font-size: var(--write-normal);
    font-weight: var(--font-slim);
    color: var(--subblue);
}

@mixin table_text {
    font-family: "Pretendard";
    font-size: var(--write-normal);
    font-weight: var(--font-middle);
}

// 마이페이지 상단 타이틀
.myPage-title {
    padding: 40px;
    color: var(--white);
    background-color: var(--black);

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 40px;

        &__head {
            font-size: var(--write-normal-area);
            font-weight: var(--font-middle);
        }

        &__sub {
            display: flex;
            align-items: center;
            justify-content: center;

            li {
                display: inline-block;
                margin-left: 30px;
                cursor: pointer;
            }
        }
    }

    &__info-wrap {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

// 상단 타이틀 유저정보 컴포넌트
.myPage-userInfo {
    display: flex;
    align-items: center;

    &__profile {
        height: 160px;
        width: 160px;
        margin: 0 40px;
        background-color: var(--subblue-light);
        border-radius: 50%;
    }

    &__text {
        &__nick-name {
            font-size: 50px;
            margin-bottom: 10px;

            span {
                @include sub_text;
                cursor: pointer;
            }
        }

        &__lank {
            font-size: var(--write-normal-area);
            font-weight: var(--font-light);
            margin-bottom: 15px;

            span {
                @include sub_text;
            }
        }

        &__point-info {
            font-size: var(--write-area);
            font-weight: var(--font-light);

            span {
                @include sub_text;
                cursor: pointer;
            }
        }
    }
}

// 상단 타이틀 리워드 컴포넌트
.myPage-rewardInfo {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    padding-left: 20px;

    &__wrap {
        width: 160px;
        margin-right: 5px;

        &__img {
            height: 36px;
            width: auto;
        }

        &__name {
            margin: 15px 0px;
            font-size: var(--write-normal);
            font-weight: var(--font-light);
            cursor: pointer;
        }

        &__value {
            font-size: 30px;
        }
    }
}

// 마이페이지 컨텐츠
.myPage-content {
    min-height: 100vh;
    width: 100%;
    margin: 40px;
}

// 마이페이지 사이드 메뉴
.myPage-side {
    width: 140px;
    float: left;
    padding-right: 40px;

    &__baro {
        font-size: var(--write-area);
        font-weight: var(--font-middle);
        color: var(--sky);
    }

    &__head {
        font-size: var(--write-normal-area);
        font-weight: var(--font-light);
        margin: 25px 0;
    }

    ul {
        li {
            width: 100%;
            margin-bottom: 25px;
            font-size: var(--write-area);
            color: var(--subblue);
            cursor: pointer;

            &:hover {
                color: var(--purple);
            }
        }
    }
}

// 마이페이지 세부 컨텐츠
.myPage-box {
    margin-left: 180px;
    margin-bottom: 40px;

    &__head {
        font-size: var(--write-normal-area);
        margin-bottom: 20px;
    }

    &__sub {
        font-weight: var(--font-light);
        color: var(--sky);
    }

    &__table {
        width: calc(100% - 100px);
        border-collapse: collapse;
        table-layout: fixed;
        text-align: center;

        colgroup {
            col {
                width: 15%;
            }

            col:nth-child(2) {
                width: 20%;
            }
        }

        &__head {
            th {
                @include table_text;
                padding: 23px;
                border-top: 3px solid var(--black);
                border-bottom: 1px solid var(--black);
            }
        }

        &__body {
            tr:hover {
                background-color: var(--backblue)
            }

            td {
                @include table_text;
                padding: 23px;

                span {
                    font-size: var(--write-explane);
                    font-weight: var(--font-light);
                    color: var(--subblue);
                }
            }

            td:nth-child(2) {
                text-align: left
            }
        }
    }

    &__empty-text {
        @include table_text;
        display: flex;
        justify-content: center;
        width: calc(100% - 100px);
        padding: 100px 0;
        color: var(--subblue);
    }
}
