.navBar {

    &__top-menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--black);
        padding: 23px 20px;

        &__logo {
            height: 23px;
        }

        li {
            float: left;
            padding: 0px 10px;
            color: var(--white);
            font-size: var(--write-title-normal);
            cursor: pointer;

            &:nth-child(1) {
                color: var(--red);
            }

            &:nth-child(2) {
                color: var(--purple);
            }
        }
    }

    &__menu {
        display: flex;
        align-items: center;
        height: 50px;
        border-bottom: 1px solid var(--backblue);
        padding-left: 8px;

        li {
            float: left;
            font-size: var(--write-explane);
            padding: 0px 9px;
            border-right: 1px solid var(--backblue);
        }
    }
}
